@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione quaisquer estilos globais personalizados aqui */
body {
  font-family: 'Inter', sans-serif; /* Exemplo: Garante fonte consistente */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
